extends layout

block content 

  h1= title
  
  div.potentialFriends

    for potentialFriend, index in potentialFriends
      div.friendContainer
        p #{potentialFriend.fullName}
        img(src=potentialFriend.picture)
        if (currentUser.friendRequests.find(request => request == potentialFriend._id))
          p Respond to request
        else if (potentialFriend.friendRequests.find(request => request == currentUser._id))
          p Request pending
        else
          form(id='requestFriendship' + index action='/request-friendship' method='POST')
            input(type='hidden' value=potentialFriend name='potentialFriend')
            button(type='submit' action='/requestFriendship') Add Friend
