extends layout

block content 

  h1= title
  
  div.potentialFriends
    for friend in friends
      div.friendContainer
        p= friend.fullName
        img(src=friend.picture)
        for friend in currentUser.friends
          if (friend !== friend._id.toString())
            a(href='#') Send friend request
          else if (friend == friend._id)
            p this is a friend
        
