extends layout

block content 

  h1= title
  
  div.my-friends
    for friend in friends
      div.friend-container
        a(href='/users/' + friend._id)= friend.fullName
        img(src=friend.picture)


        
