extends layout

block content 

  h1= title
  
  div.myFriends
    for friend in friends
      div.friendContainer
        a(href='/users/' + friend._id)= friend.fullName
        img(src=friend.picture)


        
