extends layout

block content 
  h1= title
  
  h2 Are you sure you want to delete your account? You will not be able to reverse this action.
  
  form(id='deleteUser' method='POST' action='/users/' + currentUser._id + '/delete')
    input(type='hidden' name='userToDeleteId' value=currentUser._id)
    button(type='submit' formation='/users/' + currentUser._id + '/delete' method='POST') Yes, delete!
  a(href='/users/' + currentUser._id + '/manage') No, cancel!
