/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

textarea {
	resize: none;
}

label,
input,
textarea  {
	display: block;
}

/* ================================================================
GENERAL AND LAYOUT
================================================================= */

h1 {
	color: rgb(61,134,46);
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 36px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 70px;
}

h2 {
	color: white;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 30px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 30px;
	display: block;
	vertical-align: middle;
}

h3 {
	color: rgb(61,134,46);
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 26px;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  height: 60px;
  background-color: rgb(61,134,46);
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  font-size: 24px;
}

ul.menu {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.menu-burger {
	display: none;
}

.menu li a {
	width: auto;
}

.menu li {
  padding-left: 15px;
  padding-right: 15px;
}

.menu li a,
.connector {
  color: rgba(255,255,255,.75);
  line-height: 2.5;
}

.menu li a:hover {
  color: white;
}

.noOfRequests {
	color: rgb(189,96,67);
}

.userPicture {
  position: absolute;
  top: 5px;
  right: 0;
  width: 210px;
  text-align: center;
	z-index: 9999;
}

.profilePicInMenu {
  border-radius: 50%;
  height: 50px;
  width: 50px;
	object-fit: cover;
	margin-right: -80px;
}

.currentUserInMenu {
	color: rgba(255,255,255,.75);
	font-size: 16px;
}

.dropdown-menu li {
  background-color: rgb(61,134,46);
  display: block;
  padding: 7px;
  height: 35px;
	width: 196px;
}

.menu li:hover,
.dropdown-menu li:hover {
  background-color: rgb(46,97,47);
}

li.currentUserInMenu:hover {
	background-color: rgb(61,134,46);
}

.logout:hover {
  background-color: rgb(184,93,60) !important;
}

.dropdown-menu li a {
  color: rgba(255,255,255,.75);
}

.dropdown-menu li a:hover {
  color: white;
}

.dropdown-menu {
	background: #ddd;
	display: none;
  height: 0;
  left: 0;
  transform-origin: top center;
}

.userPicture:hover .dropdown-menu {
	height: 70px;
	display: block;
}

@media all and (max-width: 787px) {
	ul.menu {
		flex-direction: column;
		width: 200px;
	}

	.menu-burger {
		display: block;
		height: 60px;
		width: 50px;
		border: none;
		background: transparent;
	}

	.menu-burger:focus {
		outline: none;
	}

	.menu-icon {
		width: 40px;
		height: auto;
		margin-top: 5px;
		filter: invert(97%) sepia(6%) saturate(846%) hue-rotate(57deg) brightness(93%) contrast(87%);
	}

	.menu-option {
		display: none;
	}

	.menu-burger:focus ~ .menu-option {
		display: block;
		background: rgb(61,134,46);
	}

	.menu-option:hover {
		background: rgb(46,97,47) !important;
	}

}

/* ================================================================
LOGIN/SIGNUP
================================================================= */

.authentication-wrapper {
	display: flex;
	margin: 0 auto;
	width: 80%;
}

.auth-form-container {
	border: 2px solid green;
	border-radius: 5px;
	background: radial-gradient(rgb(167,210,155), rgb(61,134,46));
	width: 40%;
}

.auth-middle {
	text-align: center;
	vertical-align: middle;
	color: rgb(61,134,46);
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 28px;
}

.or-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
}

.auth-label {
	color: white;
	font-family: 'Gloria Hallelujah', cursive;
	margin: 10px 0 5px 20px;
}

.auth-form input {
	margin: 0 auto;
	width: 90%;
	height: 25px;
}

.auth-form input:not([type='file']) {
	border: 1px solid black;
}

.auth-form button {
	display: block;
	width: 80px;
	margin: 0 auto;
	background: white;
	border-radius: 5px;
	height: 30px;
}

.fb-link {
	width: 100%;
	display: block;
}

.fb-login {
	display: block;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 20px;
	height: 30px;
	border-radius: 5px;
	width: 80%;
	text-align: center;
	line-height: 1.5;
	margin: 0 auto 30px auto;
	background: #4267B2;
}

a.fb-login:hover {
	text-decoration: underline;
	border: 1px solid white;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Select your avatar';
  display: inline-block;
  background: white;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
	width: 94%;
	text-align: center;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

@media all and (max-width: 787px) {
	.authentication-wrapper {
		flex-direction: column;
		width: 100%;
	}

	.authentication-container {
		width: 80%;
		margin: 0 auto;
	}
}

/* ===========================================================
FIND FRIENDS
============================================================ */

.myFriends,
.potentialFriends {
	display: flex;
	height: auto;
	width: 100%;
}

.friendContainer {
	height: 24vh;
	width: 11vw;
	margin-left: 15px;
	margin-bottom: 15px;
}

.friendContainer p {
	color: rgb(68,106,53);
	text-align: center;
	width: 100%;
	display: block;
	text-transform: uppercase;
}

.friendContainer img {
	height: 10vw;
	width: 10vw;
	border-radius: 50%;
	padding: 5px;
}

.post-container {
	margin-bottom: 20px;
	border: 1px solid green;
	background-color: rgb(173,210,181)
}

.smallProfilePic {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	object-fit: cover;
	z-index: 99;
}

.smallerProfilePic {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	object-fit: cover;
}

.commentContainer {
	border: 1px solid red;
}
