/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

textarea {
	resize: none;
	padding: 3px;
}

label,
input,
textarea  {
	display: block;
}

:root {
	--light-main-color: rgb(167,210,155);
  --main-color: rgb(61,134,46);
	--dark-color: rgb(46,97,47);
	--dark-red: rgb(185, 119, 115);
	--light-red: rgb(210,175,173);
	--main-font: 'Gloria Hallelujah', cursive;
	--secondary-font: 'Open Sans Condensed', sans-serif;
}

span {
	font-family: sans-serif;
}

button:hover {
	cursor: pointer;
}

/* ================================================================
GENERAL AND LAYOUT
================================================================= */

h1 {
	color: var(--main-color);
	font-family: var(--main-font);
	font-size: 36px;
	margin-bottom: 70px;
	margin-top: 15px;
	text-align: center;
}

h2 {
	color: white;
	display: block;
	font-family: var(--main-font);
	font-size: 30px;
	margin-bottom: 30px;
	margin-top: 5px;
	text-align: center;
	vertical-align: middle;
}

h3 {
	color: var(--main-color);
	font-family: var(--main-font);
	font-size: 26px;
}

a {
  text-decoration: none;
}

header {
	background-color: var(--main-color);
	color: white;
  font-family: var(--main-font);
	font-size: 24px;
  font-weight: bold;
	height: 60px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 999999;
}

ul.menu {
	display: flex;
  height: 100%;
  justify-content: flex-start;
	width: 85%;
}

.menu-burger {
	display: none;
}

.menu li a {
	width: auto;
}

.menu li {
  padding-left: 15px;
  padding-right: 15px;
}

.menu li a,
.connector {
  color: rgba(255,255,255,.75);
  line-height: 2.5;
}

.menu li a:hover {
  color: white;
}

.noOfRequests {
	color: rgb(189,96,67);
}

.userPicture {
  position: absolute;
  right: 0;
  text-align: center;
	top: 5px;
	width: 210px;
	z-index: 9999;
}

.profilePicInMenu {
  border-radius: 50%;
  height: 50px;
	margin-right: -80px;
	-o-object-fit: cover;
	   object-fit: cover;
	width: 50px;
}

.currentUserInMenu {
	color: rgba(255,255,255,.75);
	font-size: 16px;
}

.dropdown-menu li {
  background-color: var(--main-color);
  display: block;
  height: 35px;
	padding: 7px;
	width: 196px;
}

.menu li:hover,
.dropdown-menu li:hover {
  background-color: var(--dark-color);
}

li.currentUserInMenu:hover {
	background-color: var(--main-color);
}

.logout:hover {
  background-color: rgb(184,93,60) !important;
}

.dropdown-menu li a {
  color: rgba(255,255,255,.75);
}

.dropdown-menu li a:hover {
  color: white;
}

.dropdown-menu {
	background: #ddd;
	display: none;
  height: 0;
  left: 0;
  transform-origin: top center;
}

.userPicture:hover .dropdown-menu {
	display: block;
	height: 70px;
}

@media all and (max-width: 787px) {
	ul.menu {
		flex-direction: column;
		width: 200px;
	}

	.menu-burger {
		background: transparent;
		border: none;
		display: block;
		height: 60px;
		width: 50px;
	}

	.menu-burger:focus {
		outline: none;
	}

	.menu-icon {
		-webkit-filter: invert(97%) sepia(6%) saturate(846%) hue-rotate(57deg) brightness(93%) contrast(87%);
		        filter: invert(97%) sepia(6%) saturate(846%) hue-rotate(57deg) brightness(93%) contrast(87%);
		height: auto;
		margin-top: 5px;
		width: 40px;
	}

	.menu-option {
		display: none;
	}

	.menu-burger:focus ~ .menu-option {
		background: var(--main-color);
		display: block;
	}

	.menu-option:hover {
		background: var(--dark-color) !important;
	}

}

/* ================================================================
LOGIN/SIGNUP
================================================================= */

.authentication-wrapper {
	display: flex;
	margin: 0 auto;
	width: 80%;
}

.auth-form-container {
	background: radial-gradient(var(--light-main-color), var(--main-color));
	border: 2px solid var(--main-color);
	border-radius: 5px;
	padding-top: 25px;
	position: relative;
	width: 40%;
}

.auth-middle {
	color: var(--main-color);
	font-family: var(--main-font);
	font-size: 28px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	vertical-align: middle;
}

.or-container {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 20%;
}

.auth-label {
	color: white;
	font-family: var(--main-font);
	margin: 10px 0 5px 20px;
}

.auth-form input {
	height: 25px;
	margin: 0 auto;
	width: 90%;
}

.auth-form input:not([type='file']) {
	border: 1px solid black;
}

.auth-form button {
	background: var(--main-color);
	border: 3px solid var(--dark-color);
	border-radius: 5px;
	color: white;
	display: block;
	font-family: var(--secondary-font);
	font-size: 24px;
	font-weight: bold;
	height: 60px;
	margin: 0 auto 100px auto;
	width: 80px;
}

.fb-link {
	bottom: 0;
	display: block;
	position: absolute;
	width: 100%;
}

.fb-login {
	background: #4267B2;
	border-radius: 5px;
	color: white;
	display: block;
	font-family: var(--secondary-font);
	font-size: 20px;
	font-weight: bold;
	height: 30px;
	line-height: 1.5;
	margin: 0 auto 30px auto;
	text-align: center;
	width: 80%;
}

a.fb-login:hover {
	border: 1px solid white;
	text-decoration: underline;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
	background: white;
	border: 1px solid #999;
	border-radius: 3px;
  content: 'Select your avatar';
	cursor: pointer;
  display: inline-block;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
	outline: none;
	padding: 5px 8px;
	text-align: center;
	-webkit-user-select: none;
	white-space: nowrap;
	width: 94%;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

@media all and (max-width: 787px) {
	.authentication-wrapper {
		flex-direction: column;
		width: 100%;
	}

	.authentication-container {
		margin: 0 auto;
		width: 80%;
	}
}

/* ===========================================================
FIND FRIENDS
============================================================ */

.my-friends,
.potential-friends {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: 100%;
}

.friend-container {
	height: 24vh;
	margin: 0 auto 50px auto;
	min-width: 150px;
	text-align: center;
	width: 11vw;
}

.friend-container p {
	color: var(--dark-color);
	display: block;
	font-family: sans-serif;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.friend-container a {
	color: var(--dark-color);
	font-family: var(--secondary-font);
	font-size: 24px;
}

.friend-container a:hover {
	text-decoration: underline;
}

.friend-container img {
	border-radius: 50%;
	height: 130px;
	padding: 5px;
	width: 130px;
}

/* ===========================================================
TIMELINE/PROFILE
============================================================ */

.new-post-container {
	margin: 0 auto;
	max-width: 500px;
	width: 80%;
}

.new-post-container-in-profile {
	margin: 0 auto;
	max-width: 500px;
	width: 50%;
}

#postContent {
	height: 80px;
	width: 100%;
}

.buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.post-label {
	color: var(--dark-color);
	font-family: var(--main-font);
	font-size: 20px;
}

.main-btn {
	background: var(--main-color);
	border-radius: 5px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	height: 50px;
}


.cancel-btn {

	background: var(--dark-red);
	border-radius: 5px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	position: absolute;

}

.cancel-big {
	height: 50px;
	right: 15px;
	top: 25px;
}

.cancel-small {
	height: 40px;
	right: 6px;
	top: 8px;
}

.custom-post-image::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-post-image:focus {
	outline: none;
}

.custom-post-image::before {
	background: var(--light-main-color);
	border: 1px solid #999;
	border-radius: 3px;
	color: var(--dark-color);
  content: 'Add an Image';
	cursor: pointer;
  display: inline-block;
	font-family: sans-serif;
	font-size: 16px;
	height: 38px;
	line-height: 2.5;
  outline: none;
	padding: 5px 8px;
  -webkit-user-select: none;
	text-align: center;
	width: 90%;
	white-space: nowrap;
}
.custom-post-image:hover::before {
  border-color: black;
}
.custom-post-image:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
	height: auto;
	width: 90%;
}

.post-list {
	margin: 0 auto;
	max-width: 780px;
	width: 90%;
}

.post-container {
	background-color: var(--light-main-color);
	border: 1px solid var(--main-color);
	margin-bottom: 20px;
	padding: 25px;
	position: relative;
	vertical-align: middle;
}

.like-btn {
	background: radial-gradient(var(--light-red), var(--dark-red));
	border: 2px solid var(--dark-red);
	border-radius: 5px;
	font-size: 18px;
	height: 25px;
	width: auto;
}

.like-btn:hover {
	background: var(--dark-red);
}

.descr-container {
	align-items: center;
	display: flex;
	margin-bottom: 15px;
}

.descr-container * {
	margin-right: 5px;
}

.time-descr {
	font-size: 14px;
}

.user-pic-name {
	display: inline-block;
}

.smallProfilePic {
	border: 1px solid var(--dark-color);
	border-radius: 50%;
	height: 25px;
	-o-object-fit: cover;
	   object-fit: cover;
	width: 25px;
	z-index: 99;
}

.smallerProfilePic {
	border-radius: 50%;
	height: 20px;
	-o-object-fit: cover;
	   object-fit: cover;
	width: 20px;
}

.post-pic {
	border: 1px solid var(--dark-color);
	display: block;
	height: auto;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 75%;
}

.post-content {
	margin: 0 auto 30px auto;
}

.content {
	display: block;
	font-family: sans-serif;
	text-align: justify;
	width: 90%;
}

.comment-container {
	background: var(--light-main-color);
	border: 1px dashed var(--dark-color);
	margin-bottom: 3px;
	padding: 5px;
	position: relative;
}

.comment-content {
	margin-left: 22px;
}

.author-link {
	color: var(--dark-color);
	font-family: sans-serif;
	text-decoration: underline;
}

.author-link:hover {
	text-decoration: none;
}

.comment-label {
	color: var(--dark-color);
	font-family: var(--main-font);
	font-size: 20px;
	margin-bottom: 5px;
}

.create-comment-container {
	display: flex;
	justify-content: space-between;
}

#commentContent {
	height: 45px;
	margin-bottom: 30px;
	width: 80%;
}

.manage-posts {
	display: flex;
	position: absolute;
	right: 15px;
	top: 25px;
}

.manage-comments {
	display: flex;
	position: absolute;
	right: 6px;
	top: 7px;
}

.edit-btn {
	background-color: transparent;
	background-image: url('/images/edit.svg');
	background-size: 100% 100%;
	border: none;
	margin-right: 5px;
	margin-top: -3px;
}

.edit-btn:hover,
.delete-btn:hover {
	cursor: pointer;
}

.edit-btn:focus,
.delete-btn:focus {
	outline: none;
}

.delete-btn {
	background-color: transparent;
	background-image: url('/images/delete.png');
	background-size: 100% 100%;
	border: none;
	-webkit-filter: invert(55%) sepia(20%) saturate(873%) hue-rotate(200deg) brightness(92%) contrast(80%);
	        filter: invert(55%) sepia(20%) saturate(873%) hue-rotate(200deg) brightness(92%) contrast(80%);
	margin-right: 5px;
}

.edition-buttons {
	display: flex;
	justify-content: space-between;
}

.edit-big {
	height: 30px;
	width: 30px;
}

.edit-small {
	height: 20px;
	width: 20px;
}

.delete-big {
	height: 25px;
	width: 25px;
}

.delete-small {
	height: 15px;
	width: 15px;
}

.personal-info-container {
	align-items: center;
	display: flex;
	height: 400px;
	justify-content: center;
	margin: 0 auto;
	width: 70%;
}

.picture-request-container {
	width: 32%;
}

.user-profile-pic {
	border-radius: 50%;
	clear: both;
	display: block;
	height: 150px;
	margin: 0 auto 15px auto;
	-o-object-fit: cover;
	   object-fit: cover;
	width: 150px;
}

.user-link-container {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: auto;
}

.user-link {
	background: var(--dark-color);
	border: 1px solid var(--dark-color);
	border-radius: 5px;
	color: white;
	font-family: var(--secondary-font);
	font-weight: bold;
	height: 40px;
	line-height: 2.5;
	margin: 3px;
	padding: 5px;
	text-align: center;
}

.user-link1 {
	min-width: 130px;
}

.user-link2 {
	min-width: 100px;
}

.manage-request {
	font-family: var(--secondary-font);
	font-size: 24px;
	margin-top: -30px;
	text-align: center;
	width: 100%;
}

.req-btn {
	border-radius: 5px;
	font-family: var(--secondary-font);
	font-size: 18px;
}

.positive-btn {
	background: var(--light-main-color);
	border: 1px solid silver;
}

.negative-btn {
	background: var(--light-red);
	border: 1px solid silver;
}

/* ========================================
MANAGE/DELETE
======================================== */

.info-container {
	background: radial-gradient(var(--light-main-color), var(--main-color));
	border: 1px solid var(--dark-color);
	border-radius: 5px;
	margin: 0 auto;
	min-width: 440px;
	padding: 20px;
	width: 50%;
}

.manage-label {
	color: white;
	font-family: var(--main-font);
	font-size: 24px;
	margin-bottom: 25px;
	text-align: center;
}

.info-container label {
	color: var(--dark-color);
	font-family: var(--main-font);
	font-size: 20px;
	margin-bottom: 5px;
	margin-left: 10%;
}

.info-container input {
	margin: 0 auto;
	padding: 5px;
	width: 80%;
}

.info-container button {
	background: white;
	border: none;
	border-radius: 5px;
	display: block;
	font-family: var(--secondary-font);
	font-size: 18px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	width: 180px;
}

.info-container button:hover {
	background: radial-gradient(rgb(214,213,213), rgb(172,170,170));
	border: 1px solid grey;
}

.manage-file-input::before {
	width: 100%;
}

.delete-link {
	border: 1px solid var(--dark-red);
	border-radius: 5px;
	color: var(--dark-red);
	display: block;
	font-family: var(--secondary-font);
	font-size: 24px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	width: 160px;
}

.delete-link:hover {
	background: var(--light-red);
}

.disclaimer {
	font-family: var(--secondary-font);
	font-size: 16px;
	margin-left: 10%;
	margin-top: 8px;
}

.cancel-delete-account {
	background: var(--dark-red);
	border-radius: 5px;
	color: white;
	display: block;
	font-family: var(--secondary-font);
	font-size: 32px;
	font-weight: bold;
	height: 100px;
	line-height: 3;
	margin: 0 auto;
	text-align: center;
	width: 200px;
}

.cancel-delete-account:hover {
	background: rgb(187,60,13);
	font-size: 40px;
	line-height: 2.5;
	transition-duration: 0.2s;
	transition-property: font-size, background, line-height;
	transition-timing-function: ease-in;
}

.delete-account-button {
	background: white;
	border: 1px solid rgb(187,60,13);
	border-radius: 5px;
	color: rgb(187,60,13);
	display: block;
	font-family: var(--secondary-font);
	font-size: 20px;
	height: 50px;
	margin: 0 auto 30px auto;
	text-align: center;
	width: 100px;
}

.delete-account-button:hover {
	border: 1px solid rgb(201,125,97);
	color: rgb(201,125,97);
	font-size: 14px;
	height: 40px;
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: ease-in;
	width: 70px;
}

.error-msg {
	color: var(--dark-red);
	font-family: var(--secondary-font);
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 8px;
	text-align: center;
}

/* ==========================================
GALLERY
============================================ */

.gallery-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 90%;
}

.gallery-photo {
	border: 1px solid silver;
	height: 300px;
	margin: 10px;
	vertical-align: top;
	width: auto;
}
